.marketing{
    margin: 100px 0 ;
    .marketing_wrapper{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 22px;
        padding: 10px;
        background: #F1FAF9;
        border-radius: 10px;
        border: none;
        img{
            width: 100px;
            height: 80px;
        }
    }
}

@media screen and (max-width: 610px){
    .marketing{
        margin: 100px 0 ;
        .marketing_wrapper{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .card{
            margin-bottom: 22px;
            padding: 10px;
            background: #F1FAF9;
            border-radius: 10px;
            border: none;
            img{
                object-fit: contain;
                height: 50px;
            }
        }
    }
    
}