.reviews {
    margin-top: 100px;
    margin-bottom: 50px;
    .title {
        text-align: center;

        h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1em;
            color: #7F73FF;
            margin-bottom: 33px;
        }

        h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 44px;
            line-height: 80px;
            text-align: center;
            color: #021D1A;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #464646;
        }
    }
}

.swiper-wrapper {
    height: 450px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: -350px;
    .swiper-slide{
        display: flex;
        justify-content: center;
    }
}

.slider_card {
    width: 800px;
    height: 380px;
    background: rgba(127, 115, 255, 0.5);
    border-radius: 20px;
    padding: 37px;
    display: flex;
    align-items: center;
    gap: 50px;

    .left {
        p {
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 53px;
            color: #FFFFFF;
            margin-bottom: 30px;
        }

        span {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: end;
            &::before{
                content: '';
                width: 20px;
                height: 2px;
                display: inline-flex;
                align-items: center;
                margin-right: 10px;
                background-color: #FFFFFF;
            }
        }
    }

    .right {
        img {
            border-radius: 28px;
            box-shadow: -4px 6px 4px rgba(0, 0, 0, 0.25);
            height: 250px;
            object-fit: contain;
        }
    }
}

.swiper-button-prev {
    top: 22px !important;
    left: auto !important;
    right: 20% !important;
    color: #7F73FF !important;
}

.swiper-button-next {
    top: 22px !important;
    right: 16% !important;
    color: #7F73FF !important;
    width: 20px;
    height: 20px;
}

.swiper-button-next:after {
    content: 'next';
    font-size: 21px !important;
}

.swiper-button-prev:after {
    content: 'prev';
    // background-image: url('../../assets/images/slder-right.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 21px !important;

}


@media only screen and (max-width: 1075px){
    .slider_card {
        width: 650px;
        height: 380px;
        background: rgba(127, 115, 255, 0.5);
        border-radius: 20px;
        padding: 37px;
        display: flex;
        align-items: center;
        gap: 20px;
    
        .left {
            p {
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 30px;
                color: #FFFFFF;
                margin-bottom: 30px;
            }
    
            span {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: end;
                &::before{
                    content: '';
                    width: 20px;
                    height: 2px;
                    display: inline-flex;
                    align-items: center;
                    margin-right: 10px;
                    background-color: #FFFFFF;
                }
            }
        }
    
        .right {
            img {
                border-radius: 28px;
                box-shadow: -4px 6px 4px rgba(0, 0, 0, 0.25);
                width: 250px;
                height: 200px;
                object-fit: contain;
            }
        }
    }
} 


@media only screen and (max-width: 921px){
    .slider_card {
        width: 550px;
        height: 380px;
        background: rgba(127, 115, 255, 0.5);
        border-radius: 20px;
        padding: 37px;
        display: flex;
        align-items: center;
        gap: 20px;
    
        .left {
            p {
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 30px;
                color: #FFFFFF;
                margin-bottom: 20px;
            }
    
            span {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 30px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: end;
                &::before{
                    content: '';
                    width: 20px;
                    height: 2px;
                    display: inline-flex;
                    align-items: center;
                    margin-right: 10px;
                    background-color: #FFFFFF;
                }
            }
        }
    
        .right {
            img {
                border-radius: 28px;
                box-shadow: -4px 6px 4px rgba(0, 0, 0, 0.25);
                width: 200px;
                height: 150px;
                object-fit: contain;
            }
        }
    }
} 