.benifits {
    margin-top: 68px;

    .title {
        span {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1em;
            color: #7F73FF;
        }
    }

    .benifits_menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left_text {
            h6 {
                width: 100%;
                max-width: 571px;
                font-style: normal;
                font-weight: 900;
                font-size: 44px;
                line-height: 80px;
                color: #464646;
                & span {
                    color: #ABA3FF !important;
                }
            }
        }

    }

    .benifit_card {
        width: 100%;
        min-height: 415px;
        padding: 50px 34px;
        .card_image {
            border-radius: 20px;
            width: 80px;
            height: 80px;
            display: grid;
            place-items: center;
            margin-bottom: 30px;
            background: #DBFFE9;
            opacity: 0.8;
            img {
                object-fit: contain;
                width: 30px;
                height: 30px;
            }
        }
        .card_image2 {
            border-radius: 20px;
            width: 80px;
            height: 80px;
            background-color: #FFF7CA;
            display: grid;
            place-items: center;
            margin-bottom: 30px;
            opacity: 0.8;
            &:last-child {
                background: #FFE9E0 !important;
                border-radius: 20px;
            }
            img {
                object-fit: contain;
                width: 30px;
                height: 30px;
                
            }
        }
        .card_image3 {
            border-radius: 20px;
            width: 80px;
            height: 80px;
            display: grid;
            place-items: center;
            margin-bottom: 30px;
            background: #FFE9E0 !important;
            border-radius: 20px;
            img {
                object-fit: contain;
                width: 30px;
                height: 30px;
            }
        }
        .card_title {
            p {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                color: #021D1A;
                margin-bottom: 18px;
            }
        }
        .card_text {
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 36px;
                color: #464646;
                margin-bottom: 28px;
            }
        }
        .card_link {
            a {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 0.05em;
                color: #124F48;
                transition: all .5s;
                img{
                    object-fit: contain;
                }
            }
        }
        &:hover{
            background: #FFFFFF;
            box-shadow: 0px 20px 84px rgba(225, 225, 225, 0.8);
            border-radius: 20px;
            transition: all 1s;
            .card_link a{
                background: #7F73FF;
                border-radius: 31.5px;
                padding: 18px 39px;
                display: flex;
                align-items: center;
                color: #fff;
                justify-content: center;
                img{
                    display: block;
                    margin-left: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .benifits {
        .benifits_menu{
            .left_text {
                h6 {
                    width: 100%;
                    max-width: 400px;
                    font-size: 30px;
                    line-height: 80px;
                }
            }
        }
    }
}




@media screen and (max-width: 700px) {
    .benifits {
        .benifits_menu{
            .left_text {
                h6 {
                    width: 100%;
                    max-width: 300px;
                    font-size: 27px;
                    line-height: 50px;
                }
            }
        }
    }
}




@media screen and (max-width: 600px) {
    .benifits {
        .title {
            text-align: center;
            span {
                text-align: center;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.1em;
                color: #7F73FF;
            }
        }
        .benifits_menu{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 20px;
            .left_text {
                h6 {
                    width: 100%;
                    max-width: 400px;
                    font-size: 32px;
                    line-height: 50px;
                    text-align: center;
                }
            }
        }
    }
}