.footer_top {
  background: #e9edfb;
  width: 100%;
  height: 380px;
  padding-top: 80px;
  // padding-bottom: 38px;

  .footer_title {
    h3 {
      font-style: normal;
      font-weight: 900;
      font-size: 44px;
      line-height: 55px;
      text-align: center;
      color: #000000;
    }
  }

  .footer_blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 48px;
    .foter_link {
      ul {
        li {
          a {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
            color: #7f73ff;
          }
        }
      }
    }

    .message {
      display: flex;
      align-items: center;
      position: relative;
      .typed_input {
        position: absolute;
        top: 0;
        left: 50%;
      }
      button {
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
        height: 57px;
        background: #7f73ff;
        border-radius: 31.5px;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.05em;
        color: #ffffff;
        outline: none !important;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
        z-index: 99;
        .typed_text {
          font-style: normal;
          font-weight: 800;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0.05em;
          color: #ffffff;
        }
        img {
          margin-left: 10px;
        }
      }
      input {
        position: relative;
        border-radius: 31.5px;
        border: 0.5px solid #9fa2b4;
        padding-left: 18px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.05em;
        color: #7f73ff;
        height: 57px;
        width: 500px;
        outline: none !important;
        padding-left: 41%;
        &::placeholder {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0.05em;
          color: #9fa2b4;
        }
      }
    }
  }
}

.footer_bottom {
  background: #7f73ff;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;

  .foot_bot_tex {
    p {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 992px) {
  .footer_top {
    padding-top: 80px;
    max-height: 500px;
    position: relative;
    .footer_title {
      h3 {
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        color: #000000;
      }
    }
    .footer_blog {
      display: grid;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      .logo {
        position: absolute;
        left: 100px;
        bottom: 10%;
        transform: translateX(-50%);
      }
      .foter_link {
        display: grid;
        justify-content: right;
        margin-top: 12px;
        ul {
          li {
            text-align: end;
            a {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 28px;
              color: #7f73ff;
            }
          }
        }
      }
    }
  }
  .footer_bottom {
    justify-content: center;
    display: flex;
    align-items: center;
    .foot_bot_tex {
      p {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .footer_top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .footer_blog {
        flex-direction: column;
      .message {
        display: grid;
        align-items: center;
        position: relative;
        .typed_input {
          position: absolute;
          top: 0;
          left: 50%;
        }
        button {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          max-width: 100px;
          height: 40px;
          font-size: 10px;
          line-height: 18px;
          letter-spacing: 0.05em;
          color: #ffffff;
          overflow: hidden;
          .typed_text {
            font-style: normal;
            font-weight: 800;
            font-size: 13px;
            line-height: 23px;
            letter-spacing: 0.05em;
            color: #ffffff;
          }
          img {
            margin-left: 10px;
          }
        }
        input {
          position: relative;
          border-radius: 31.5px;
          border: 0.5px solid #9fa2b4;
          padding-left: 18px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0.05em;
          color: #7f73ff;
          height: 40px;
          width: 400px;
          outline: none !important;
          padding-left: 41%;
          &::placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 23px;
            letter-spacing: 0.05em;
            color: #9fa2b4;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 430px) {
    .footer_top {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .footer_blog {
          flex-direction: column;
        .message {
          display: grid;
          align-items: center;
          position: relative;
          margin-bottom: 50px;
          .typed_input {
            position: absolute;
            top: 0;
            left: 50%;
          }
          button {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            max-width: 100px;
            height: 40px;
            font-size: 10px;
            line-height: 18px;
            letter-spacing: 0.05em;
            color: #ffffff;
            overflow: hidden;
            .typed_text {
              font-style: normal;
              font-weight: 800;
              font-size: 13px;
              line-height: 23px;
              letter-spacing: 0.05em;
              color: #ffffff;
            }
            img {
              margin-left: 10px;
            }
          }
          input {
            position: relative;
            border-radius: 31.5px;
            border: 0.5px solid #9fa2b4;
            padding-left: 18px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 0.05em;
            color: #7f73ff;
            height: 40px;
            width: 300px;
            outline: none !important;
            padding-left: 41%;
            &::placeholder {
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 23px;
              letter-spacing: 0.05em;
              color: #9fa2b4;
            }
          }
        }
      }
      .foter_link{
        margin-bottom: 50px;
      }
    }
  }
  